<div class="commentary">
<p>Single-Family Housing Price Indexes by State: 1991 to 2010</p>
<p>Index 1991, 1st quarter = 100. The index reflects average price changes in repeat sales or refinancings on the same properties. Since the data are for the fourth quarter, the index represents the annual percentage change in home values in the fourth quarter of the year shown relative to the fourth quarter of the previous year. The information is obtained by reviewing repeat mortgage transactions on single-family properties whose mortages have been purchased or securitized by either Fannie Mae or Freddie Mac.</p>
<p>Source: Federal Housing Finance Agency, Housing Price Index, 4th quarter 2010. See also <http://www.fhfa.gov>.<p>
<p>Internet Release Date: 9/30/2011</p>
<p>For more information http://www.fhfa.gov</p>
</div>