
<p>Explanation</p>
	


<p>Challenges</p>
<p>
	Prior to this project, my only D3 experience consisted of computing vertices on a hexagonal grid. Creating the choropleth required me to really engage with D3 paths and geojson. I had also never used the NVD3 library before, so I was thrilled when the charts started appearing as I had imagined them. 
</p>
<p>
	Preparing the data files was interesting. 

<p>In The Icebox</p>
<ul>
	<li>Index vs. Year modal charts highlight the selected year. (Thought of this after the fetaure-freeze.)</li>
	<li>The chart for a given state compares its index for the selected year with the corresponding indices from adjacent states. (I tried to implement a many-to-many self-referential relation among the states and almost succeeded, but not quite. In an effort to keep the master branch clean and deployable, I implemented a feature-freeze earlier this evening. With more time I would have investigated the possibility of modeling adjacencies with a graph database.)
	<li>States with the highest and lowest index for a given year should be highlighted on the choropleth. (Thought of this after the feature-freeze.)<li>
</ul>	





</div>