.header {
	background-color: black;
	color: white;
	text-align: center;
	padding: 12px;
}

.header h3 {
	float: left;
	display: inline-block;
	margin:0;
}


svg {
	margin: 0 auto;
	border: 1px solid black;
}