.states {
  fill: none;
  stroke: black;
  stroke-linejoin: round;
}

#choropleth_container {
	border: 2px solid steelblue;
  height: 500px;
/*	display:inline-block;
	float: left;
	width: 65%;*/
}

.states {
  cursor: pointer;
}

.nv-line {
	fill: none;
}




/*.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: "red";
  stroke-width: 1.5px;
}*/

