.states {
  fill: none;
  stroke: black;
  stroke-linejoin: round;
}

#choropleth_container {
	border: none;
/*	display:inline-block;
	float: left;
	width: 65%;*/
}

/*#modal_line_chart {
	float: left;
}*/

/*.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: "red";
  stroke-width: 1.5px;
}*/

